html {
	font-family: 'Forum', serif;
	background-color: #F0C9C4;
	color: #3B3738;

	::selection {
		background: #FFDAD8; /* Safari */
	}
	::-moz-selection {
		background: #FFDAD8; /* Firefox */
	}

	transition: 300ms ease-in-out;
	transition-property: background-color, color;
}