@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Forum', serif;
	background-color: #F0C9C4;
	color: #3B3738;

	::selection, ::-moz-selection {
		background: rgba(255, 218, 216, 0.48);
	}

	transition: 300ms ease-in-out;
	transition-property: background-color, color;
}